<section class="content">

    <h1 class="logo">Sign <span>In</span></h1>
    <div class="wrapper">

        <div class="login-components px-5 py-2">

            <form>
                <div class="title-login mt-3 mb-4 shadow-sm">
                    <label>Soy el Mejor</label>
                </div>

                <div [formGroup]='LoginFrom'>

                    <div class="form-Group">
                        <label>email</label>
                        <input type="email" placeholder="keloke@gmail.com" formControlName=email>

                        <label>Password</label>
                        <input type="password" placeholder="**********" formControlName=password>
                    </div>
                </div>

            </form>
            <!--   <p>Deseas <span><a routerLink="/registro">registrarte</a></span>?</p> -->

            <button type="submit" (click)="onLogin()">Sign in</button>
        </div>

    </div>
</section>